.gridTwoCols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
}

.banner {
  padding: 6rem 4rem;
}

.bannerSub {
  margin-bottom: 1rem;
  background-color: #dceeff;
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px;
  max-width: fit-content;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #546f9f;
}

.banner h1 {
  color: #0a1b39;
}

.bannerDesc {
  font-size: 1.2rem;
  max-width: 59ch;
  margin: 2rem 0;
  color: #0a1b39;
}

.banner button {
  margin: 2.5rem 0;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.bannerImg {
  border-radius: 2rem;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
