.card {
  width: min(90%, 400px);
  margin-inline: auto;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 2rem;
}

.cardBody {
  padding: 2.5rem 2rem;
}

.cardBody p {
  margin: 2rem 0;
  line-height: 1.5;
}
