.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logoHeading {
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
}

.logoParagraph {
  font-size: 0.5rem;
  font-weight: 400;
  text-transform: capitalize;
}

.menu {
  display: flex;
  list-style: none;
  gap: 3rem;
  align-items: center;
}

.menu li:hover {
  color: skyblue;
  cursor: pointer;
}
